[user]
	name = Zhong Ruoyu
	email = zhongruoyu@outlook.com
	signingKey = E45CB75AFCCD4C0CC4ED4A3842F3B7E577C2156A
[core]
	excludesFile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	ff = only
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = git://gitlab.com/
	insteadOf = https://gitlab.com/
[url "git@bitbucket.org:"]
	insteadOf = git://bitbucket.org/
	insteadOf = https://bitbucket.org/
